<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <title>Questions</title>
  </head>
  <body>

    <div class="container">
        <form method="post">

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, what is level of air pollution in your city?</label>
            </div>
            <div class="col-75">
              <input type="range" name="points1" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many time u consume a alcohol in a week</label>
            </div>
            <div class="col-75">
                <input type="range" name="points2" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how allergic are u to dust?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points3" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, what is the status of your lungs?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points4" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how balanced is your diet?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points5" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how much do you crave to smoke?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points6" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how passive of a smoker are you?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points7" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how much pain do you feel in your chest?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points8" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, do you caught up blood?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points9" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how fatigued do you feel?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points10" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how fast are you losing weight?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points11" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how difficult is for you to breathe?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points12" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how much do you wheeze?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points13" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how dry is your cough?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points14" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how much do you snore?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points15" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how many fruits and dvegetable you consume?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points16" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many new places you visit last year?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points17" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many people are very close to you?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points18" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many people you help to acheive better life?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points19" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many people do you interact a typical day?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points20" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How well do you complete your weekly to-do list?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points21" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many steps(1000) do you typically walk everyday?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points22" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">For how many years ahead is your life vision very clear for?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points23" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How long do you typically sleep?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points24" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">On a scale of 1-10, how satisfied are you with your income?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points25" min="1" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many recognitions are you received in your life?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points26" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How many hours do you spend everyday doing what you are passionate about?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points27" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Gender [Male:1 Female:0]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points28" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Age</label>
            </div>
            <div class="col-75">
              <input type="number" name="points29">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Weight (in lbs)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points30">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Height (in inches)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points31">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Net circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points32">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Chest circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points33">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Abdomen circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points34">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Hip circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points35">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Thigh circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points36">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Knee circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points37">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Ankle circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points38">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Biceps circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points39">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Forearms circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points40">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Wrist circumference (in cm)</label>
            </div>
            <div class="col-75">
              <input type="number" name="points41">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Are you employed in government job? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points42" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Have you ever worked? [ No:1 Yes:0]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points43" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Are you employed in private job? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points44" min="0" max="1">
            </div>
          </div>
          

          <div class="row">
            <div class="col-25">
              <label for="points">Are you self employed? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points45" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Are you a child? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points46" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you suffer from hypertension? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points47" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Have you ever diagnosed with heart disease? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points48" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Are you married? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points49" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">What is your resisdent type? [ Rural:0 Urban:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points50" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Average glucose level?</label>
            </div>
            <div class="col-75">
              <input type="number" name="points51">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">What is your body mass index?</label>
            </div>
            <div class="col-75">
              <input type="number" name="points52">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you suffer from high BP? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points53" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you have high cholestrol? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points54" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Is your cholestrol in check? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points55" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you suffer from diabetes? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points56" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you exerecise? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points57" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Do you consume alcohol heavinly? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points58" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">Have you made any healthcare efforts? [ No:0 Yes:1]</label>
            </div>
            <div class="col-75">
              <input type="range" name="points59" min="0" max="1">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How educated are you?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points60" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="points">How satified are you, with your income?</label>
            </div>
            <div class="col-75">
                <input type="range" name="points61" min="0" max="10">
            </div>
          </div>

          <div class="row">
            <input type="submit" value="Submit">
          </div>
      
        </form>
        <h1 class="output">
          {{message}}
        </h1>
        
      </div>
    

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </body>
</html>